<!DOCTYPE html>
<html>
    <%- include('./components/head.ejs') %> 
    
    <body>
        <%- include('./components/navbar.ejs') %> 
        <div class="container">
            <h1> 404 Page </h1>
        </div>
    </body>
</html>