<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Document | <%= title %> </title>

    <link rel="stylesheet" href="/style.css">
    <!-- <style>
        *{
            margin: 0;
            padding: 0;
        }

        a {
            text-decoration: none;
        }
        nav {
            background-color: lightgreen;
            padding: 20px;
            display: flex;
            justify-content: space-between;
        }
        nav a {
            color: white;
            margin: 0 20px;
            font-size: 18px;
        }
        nav a:hover {
            color: green;
        }
        nav h1 a {
            font-size: 22px;
        }
        .container {
            margin: 20px;
        }

        .blog-card {
            margin: 20px 0;
        }
    </style> -->
</head>